/* -------------------------------------------------------------- 
   
   grid.css

   == STRUCTURE: ========================
    * Page width:            968 px
    * Number of columns:     12
    * Column width:          77 px
    * Margin width:          4 px
   ======================================

   By default, the grid is 968px wide, with 12 columns 
   spanning 77px, and a 4px margin between columns.

-------------------------------------------------------------- */

/* A container should group all columns. */
.container {
  width: 973px;
  margin: 0 auto;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: inherit;
  padding-left: 0px;
}

/* Columns
-------------------------------------------------------------- */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12 {
	float:left; 
	margin-right: 4px;
}

span.span-1, span.span-2, span.span-3, span.span-4, span.span-5, span.span-6, span.span-7, span.span-8, span.span-9, span.span-10, span.span-11, span.span-12 {
	display: inline-block;
}

.last, div.last, span.last {
	margin-right: 0;
}

.span-all {
	width: 968px;
}

.span-1 { width: 77px; }
.span-2 { width: 158px; }
.span-3 { width: 239px; }
.span-4 { width: 320px; }
.span-5 { width: 401px; }
.span-6 { width: 482px; }
.span-7 { width: 563px; }
.span-8 { width: 644px; }
.span-9 { width: 725px; }
.span-10 { width: 806px; }
.span-11 { width: 887px; }
.span-12, div.span-12 { width: 968px; margin: 0px; }

input.span-1, textarea.span-1 { width: 71px !important; }
input.span-2, textarea.span-2 { width: 152px !important; }
input.span-3, textarea.span-3 { width: 233px !important; }
input.span-4, textarea.span-4 { width: 314px !important; }
input.span-5, textarea.span-5 { width: 395px !important; }
input.span-6, textarea.span-6 { width: 476px !important; }
input.span-7, textarea.span-7 { width: 557px !important; }
input.span-8, textarea.span-8 { width: 638px !important; }
input.span-9, textarea.span-9 { width: 719px !important; }
input.span-10, textarea.span-10 { width: 800px !important; }
input.span-11, textarea.span-11 { width: 881px !important; }
input.span-12, textarea.span-12 { width: 962px !important; }

.butt-span-1 { width: 55px !important; }
.butt-span-2 { width: 136px !important; }
.butt-span-3 { width: 217px !important; }
.butt-span-4 { width: 298px !important; }
.butt-span-5 { width: 379px !important; }
.butt-span-6 { width: 460px !important; }
.butt-span-7 { width: 541px !important; }
.butt-span-8 { width: 622px !important; }
.butt-span-9 { width: 703px !important; }
.butt-span-10 { width: 784px !important; }
.butt-span-11 { width: 865px !important; }
.butt-span-12 { width: 946px !important; }

.addColumn-1 { margin-right: 79px; }
.addColumn-2 { margin-right: 160px; }
.addColumn-3 { margin-right: 241px; }
.addColumn-4 { margin-right: 322px; }
.addColumn-5 { margin-right: 403px; }
.addColumn-6 { margin-right: 484px; }
.addColumn-7 { margin-right: 565px; }
.addColumn-8 { margin-right: 646px; }
.addColumn-9 { margin-right: 727px; }
.addColumn-10 { margin-right: 808px; }
.addColumn-11 { margin-right: 889px; }
.addColumn-12 { margin-right: 970px; }

input.span-1, textarea.span-1,
input.span-2, textarea.span-2,
input.span-3, textarea.span-3,
input.span-4, textarea.span-4,
input.span-5, textarea.span-5,
input.span-6, textarea.span-6,
input.span-7, textarea.span-7,
input.span-8, textarea.span-8,
input.span-9, textarea.span-9,
input.span-10, textarea.span-10,
input.span-11, textarea.span-11,
input.span-12, textarea.span-12
{
	border-left-width: 1px!important;
	border-right-width: 1px!important;
	padding-left: 2px!important;
	padding-right: 2px!important;
}

.td-1 { width: 74px; }
.td-2 { width: 154px; }
.td-3 { width: 234px; }
.td-4 { width: 314px; }
.td-5 { width: 394px; }
.td-6 { width: 474px; }
.td-7 { width: 554px; }
.td-8 { width: 634px; }
.td-9 { width: 714px; }
.td-10 { width: 794px; }
.td-11 { width: 874px; }
.td-12 { width: 954px; }

/* layout row without fieldset around */
.layoutRow {
	padding-left: 3px;
	padding-bottom: 10px;
	clear: both;
}

/* layout row that has fieldset inside */
.layoutWrappedRow {
	padding-bottom: 10px;
	clear: both;	
}

/*.layoutWrappedRow fieldset {
	width: 962px;
}*/


/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #E5ECF9; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.45em;
  border: none; 
}

hr.space {
  background: #fff;
  color: #fff;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, .container {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }